.navbar .nav-link2 {
    display: block !important; /* Force this style to be applied */
    background-color: #f8f9fa !important;
    color: #000 !important;
    padding: 15px !important;
    border: none !important;
    text-align: left !important;
    width: 100% !important;
    margin-top: 10px !important;
    font-size: 16px !important;
    cursor: pointer !important;
    border-radius: 5px !important;
}

.navbar .nav-link2:hover {
    background-color: #d6dbe0dc !important;
}

.navbar .nav-link2.active {
    background-color: #d6dbe0dc !important;
    border-radius: 5px !important;
}

.navbar .nav-link2:focus {
    outline: none !important;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Keeps the div at the top if vertical centering isn't required */
}
.main-panel {
    width: 300px; /* Specify a width for the div, otherwise it may stretch */
}
